
.hero {
    display: flex;
    align-items: center;
    padding: 60px 40px;
    gap: 40px;
}

.hero img {
    width: 50%;
    border-radius: 12px;
}

.hero-text h2 {
  font-family: "Playfair Display", serif;
  font-size: 36px;
  margin-bottom: 20px;
}

.hero-btn {
  display: inline-block;
  margin-top: 20px;
  padding: 10px 20px;
  background-color: #8b1e1e;
  color: white;
  border: none;
  border-radius: 6px;
  cursor: pointer;
  font-size: 14px;
  text-decoration: none;
  transition: 0.4s;
}

.hero-btn:hover {
  background-color: #a92525;
}

.menu {
  padding: 60px 40px;
  text-align: center;
}

.menu-items {
  display: flex;
  gap: 20px;
  margin-top: 30px;
  justify-content: center;
}

.card {
  background: #8b1e1e;
  padding: 20px;
  border-radius: 16px;
  width: 300px;
  border: none;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
  color:white;
}

.card img {
    width: 100%;
    height: 320px;
    object-fit: cover;
    padding: 2px;
    background-color: white;
    border-radius: 12px;
}

.card h3 {
    font-family: "Playfair Display", serif;
    font-size: 20px;
}

.card p {
    font-size: small;
}

/* About */

#about {
  padding: 60px 40px;
  max-width: 700px;
  margin: 0 auto;
  text-align: center;
}

#about h2 {
    border-bottom: solid #ddd;
    width: 100%;
    margin-bottom: 20px;
}

/* Visit */

.visit {
  display: flex;
  justify-content: space-between;
  padding: 60px 40px;
  max-width: 800px;
  margin: 0 auto;
}
