.menu-banner {
    position: relative;
    overflow: hidden;
}

.menu-banner img {
    width: 100%;
    height: 360px;
    display: block;
    object-fit: cover;
}

.menu-banner h2 {
    position: absolute;
    top: 60%;
    left: 10%;
    transform: translateY(-50%);
    color: white;
    z-index: 2;
    font-family: 'Playfair Display', serif;
    font-weight: 700;
    font-size: 52px;
    line-height: 1;
    text-shadow: 0 6px 18px rgba(0,0,0,0.6);

}

@media (max-width:800px) {
    .menu-banner img {
        height: 240px;
    }

    .menu-banner h2 {
       font-size: 32px; 
    }
}


.menu-page {
  max-width: 1100px;
  margin: 20px;
}

.menu-page h2 {
  text-align: center;
  margin-bottom: 40px;
  font-size: 32px;
}

.menu-page h3 {
  margin: 40px 0 20px;
  font-size: 24px;
  border-bottom: 2px solid #ddd;
  padding-bottom: 10px;
  font-family: 'Playfair Display', serif;
}

.menu-grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(220px, 1fr));
    gap: 20px;
    margin-bottom: 40px;
}

.menu-item {
    background-color: #f4f4f4;
    padding: 20px;
    border-radius: 8px;
    transition: box-shadow 0.2s ease, transform 0.2s ease;
}

.menu-item:hover {
    box-shadow: 0 4px 8px rgba(142, 142, 142, 0.15);
    transform: translateY(-2px)
}

