* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, Helvetica, sans-serif;
    line-height: 1.6;
    color: #333;
}

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 40px;
    background-color: #8b1e1e;
}

.header h1 {
    color: white;
}

nav a {
    color: white;
    text-decoration: none;
    margin-left: 20px;
    font-weight: bold;
    transition: 0.6s;
    padding: 4px;
    border-bottom: solid #ffffff00;
}

nav a:hover {
    border-bottom: solid white;
}

.footer {
  text-align: center;
  padding: 20px;
  background-color: #8b1e1e;
  color: white;
}